<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>Static File</h1>
    <center>

        <h1>Nvn's Page</h1>
    <img src="{{url_for('static',filename='images/Nvn.jpeg')}}" alt="invalidimage" srcset="">
   <h1> <a href="{{url_for('sec')}}">Navigate To Tiru's Page</a></h1>
    </center>
</body>
</html>